*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:#00ff41;
    font-family:'Share Tech Mono', monospace;
    overflow-x:hidden;
}

#matrix{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
    border-bottom:1px solid #00ff41;
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:30px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.navbar a:hover{
    color:#00ff41;
}

.hero{
    min-height:90vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:50px;
}

.hero-left{
    width:45%;
}

.small{
    color:#00ff41;
    margin-bottom:20px;
}

h1{
    font-size:80px;
}

h1 span{
    color:#00ff41;
}

h2{
    margin-top:20px;
    font-size:30px;
}

h3{
    margin-top:10px;
    color:white;
}

.description{
    margin-top:30px;
    color:#cccccc;
    line-height:1.8;
}

.buttons{
    margin-top:40px;
}

.btn{
    border:1px solid #00ff41;
    color:#00ff41;
    text-decoration:none;
    padding:15px 25px;
    margin-right:20px;
}

.btn:hover{
    background:#00ff41;
    color:black;
}

.terminal{
    width:500px;
    background:#0b0b0b;
    border:1px solid #00ff41;
    box-shadow:0 0 30px #00ff41;
}

.terminal-header{
    padding:15px;
    background:#111;
}

.terminal-body{
    padding:20px;
    line-height:1.8;
}

.cursor{
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}
.cyber-grid{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:40px;
}

.cyber-card{
    border:1px solid #00ff41;
    padding:25px;
    background:#0a0a0a;
    transition:.3s;
    box-shadow:0 0 10px #00ff41;
}

.cyber-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 30px #00ff41;
}

.cyber-card h3{
    color:#00ff41;
    margin-bottom:15px;
}

.small{
    overflow:hidden;
    white-space:nowrap;
    border-right:2px solid #00ff41;
    width:0;
    animation:
        typing 4s steps(30,end) forwards,
        blink .7s infinite;
}

@keyframes typing{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:black;
}

::-webkit-scrollbar-thumb{
    background:#00ff41;
}
footer{
    margin-top:100px;
    text-align:center;
    padding:30px;
    border-top:1px solid #00ff41;
    color:#888;
}

.terminal-input{
    display:flex;
    padding:20px;
    border-top:
    1px solid #00ff41;
}

.terminal-input span{
    color:#00ff41;
}

.terminal-input input{
    flex:1;
    background:black;
    color:#00ff41;
    border:none;
    outline:none;
    font-family:inherit;
    margin-left:10px;
}

.terminal-body{
    min-height:350px;
    max-height:350px;
    overflow-y:auto;
}
